body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main_test{
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #65FFD4;
}
.my_btn{
  border: 2px solid rgb(248, 242, 242);
  margin: 10px;
  padding: 10px 20px;
  min-width: 200px;
  background-color: #14D888;
  color: white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: all 0.4s;
  cursor: pointer;
}

.img_test{
  width: 100px;
}

.cart{
  width: 70%;
  padding: 25px;
  background-color: #14D888;
  border:2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: black;
  border: 3px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: Century Gothic;
  font-weight: 700;
  color:lime;
  margin: 20px;
}
.btn:hover {
    text-decoration: none;
    transition: all .8s;
    font-weight: bolder;
    border: 3px solid black;
    color: black;
    background-color: lime;
}
.btn:active {
  background-color: lime;
  border-radius: 15px;
}

.opasity{
  opacity: 0.5;
}

.form {
  position: fixed;
  min-width: 400px;
  min-height: 300px;
  padding: 50px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #00FFA9;
  margin: 30px;
  opacity: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 100px;
}

.modal-window {
  position: fixed;
  background-color: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;

}







